.TodoItem {
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgb(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% -120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 14px;
  font-weight: bold;
  /* background-color: #ccc; */
}

.Icon-check {
  position: absolute;
  left: 12px;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: 0;
}

.Icon-delete:hover {
  color: red;
}

/* ..estilos anteriores */
.box-icon {
  width: 40px;
  height: 40px;
}

.span-icon-close {
  color: rgb(255, 98, 98);
  position: absolute;
  font-size: 1.5 rem;
  right: 10px;
  top: 5px;
  height: 50px;
  width: 50px;
}

.deleteIcon {
  width: 40px;
  height: 40px;
}
.span-icon-done {
  color: rgb(21, 255, 0);
  margin-left: 40px;
  margin-right: 40px;
}

.span-icon-uncompleted {
  color: rgb(164, 165, 164);
  margin-left: 40px;
  margin-right: 40px;
}
